.form {
  display: flex;
}

.form-label {
  display: flex;
  align-items: center;
  margin: 5px;
}

.buildId {
  display: flex;
  margin-left: 5px;
}

.tags {
  display: flex;
  margin-left: 5px;
}

.platform {
  display: flex;
  margin-left: 10px;
}
