.form {
  display: flex;
}

.form-label {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 200px;
  flex: 2 1 auto;
}

.buildId {
  display: flex;
  margin-left: auto;
}

.tags {
  display: flex;
  margin-left: auto;
}

.platform {
  display: flex;
  width: 150px;
  margin-left: auto;
}

.submit {
  margin-top: 10px;
  width: 150px;
}
