.form {
  display: flex;
}

.form-label {
  display: flex;
  align-items: center;
  margin: 5px;
}

.username {
  display: flex;
  margin-left: 5px;
}

.accessKey {
  display: flex;
  margin-left: 5px;
}

.region {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.submit {
  margin-top: 10px;
  min-width: 25px;
  min-height: 18px;
}